# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=AIzaSyDvADgE_IXcGG5wcQruryI3TVYwnBW5UM0

# APP_URL: The URL where this applet is hosted.
APP_URL=http://localhost:5173

# MongoDB connection string
MONGODB_URI="mongodb+srv://sanelakshmidharreddy_db_user:<YOUR_PASSWORD>@crm-cluster.rqdwylf.mongodb.net/?appName=crm-cluster"

# JWT Secret
JWT_SECRET=mongodb+srv://sanelakshmidharreddy_db_user:vinithareddy@crm-cluster.rqdwylf.mongodb.net/?appName=crm-cluster
